@import url("Default.uss");

:root {
    --main-color: #16545c;
    --dark-color: #033735;
    --highlight-color: #21a0b1;
    --highlight-text-color: #bbefff;
    --becs-accent: #21a0b1;
    --becs-selection: #16545c;
    --becs-background-dark: #1c2528;
    --becs-surface-dark: #253236;
    --becs-border-dark: #3b5158;
    --toolbar-color: #253236;
    --toolbar-buttons-background-color: #101c20;
    --toolbar-buttons-background-color-hover: #18282d;
    --toolbar-buttons-border-color: #3b5158;
    --becs-button-dark: #101c20;
    --becs-button-hover-dark: #18282d;
}
