.horizontal-group {
    align-items: stretch;
    flex-direction: row;
}
.horizontal-group .unity-object-field-display Label {
    min-width: 50px;
    width: 10px;
}

.horizontal-group > ObjectField {
    flex-grow: 1;
}

.providers-dropdown {
    max-width: 80px;
    min-width: 50px;
    width: 20%;
}

LogoLine {
    width: 100%;
    height: 1px;
    min-height: 1px;
    --left-color: #3c165c;
    --right-color: #981eff;
    --speed: 1000;
}